@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2'),
         url('../fonts/Gilroy-ExtraBold.woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBoldItalic.woff2'),
         url('../fonts/Gilroy-ExtraBoldItalic.woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

